<?xml version="1.0"?>
<robot>
    <material name="zed_mat">
        <color rgba="0.8 0.8 0.8 0.8"/>
    </material>
    <material name="zedm_mat">
        <color rgba="0 0 0 0.9"/>
    </material>
    <material name="zed2_mat">
        <color rgba="0.25 0.25 0.25 0.99"/>
    </material>
    <material name="zed2i_mat">
        <color rgba="0.25 0.25 0.25 0.99"/>
    </material>
    <material name="zedx_mat">
        <color rgba="0.25 0.25 0.25 0.99"/>
    </material>
    <material name="zedxm_mat">
        <color rgba="0.25 0.25 0.25 0.99"/>
    </material>
</robot>
